@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import AdminLTE CSS */
@import '../styles/adminlte.min.css';
@import '../styles/admin.min.css';
@import '../styles/select2.min.css';

@import 'cdn.datatables.net/css/dataTables.dataTables.css';

.input-icon-wrapper {
    position: relative;
}
.view-front-btn, .view-back-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
